.App-container{
  background-image: url("https://imgs.search.brave.com/rh0SSkq9Odp9I2lrljE6R72nAb9-kgC5CpGq1nBqppg/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGl4YWJheS5jb20v/cGhvdG8vMjAxMi8x/Mi8xMS8yMS8yOC9l/dXJvcGUtNjk1Mjdf/NjQwLmpwZw");
  background-repeat: no-repeat; 
  background-size: cover;
  /* opacity: 0.5; */
}